/*header{
    background: lightblue;
}

main{
    background: lightblue;
}

footer{
    background: lightblue;
}

.container{
    background: lightseagreen;
}*/
/*
nav{
    background: lightsalmon;
}
.container-text{
    background: burlywood;
}
#section-about{
    background: lavender;
}
#section-jobs{
    background-color: lightskyblue;
}
#section-skills{
    background: lightgreen;
}
#section-contact{
    background: lightgrey;
}
#section-socialMedia{
    background: lightcyan;
}*/